{% extends 'glasgowMusicAwards/base.html' %}
{% load staticfiles %}

{% block body_block %}
<h2>About Us</h2>
<p>Follow our socials to keep up to date with us!</p>
<div class="socialBoxes"><a href ="https://twitter.com/UofGlasgow">Twitter</a><img src="{% static 'images/twitter.jpg' %}" alt="twitter image"></div>
<div class="socialBoxes"><a href = "https://www.instagram.com/uofglasgow/">Instagram</a><img src="{% static 'images/instagram.jpg' %}" alt="instagram image"></div>
<div class="socialBoxes"><a href = "https://www.youtube.com/user/universityofglasgow>">Youtube</a><img src="{% static 'images/youtube.jpg' %}" alt="youtube image"></div>
{% endblock %}
