{% extends 'glasgowMusicAwards/base.html' %}
{% load staticfiles %}

{% block body_block %}
<!--Made up genre.name, artists, current_genre, artist.name for now, fix it later when backend has been worked on more-->
<h2> {{ genre.name }} </h2>
<ul>
    {% if artists %}
    {% for artist in artists %}
    {% if artist == current_genre %}
    <li>
    <strong>
        <!--Change this when have url for seperate artists-->
    <a href="{% url 'glasgowMusicAwards:show_artist' artist.slug %}">{{ artist.name }}</a>
    </strong>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}
