{% extends 'glasgowMusicAwards/base.html' %}
{% load staticfiles %}

{% block body_block %}
<h2>Genres</h2>

<div class="genreBoxes"><p>Pop</p><img id="genreImages" src="{% static 'images/pop.jpg' %}" alt="pop image"></div>
<div class="genreBoxes"><p>R&B</p><img id="genreImages" src="{% static 'images/r&b.jpg' %}" alt="r&b image"></div>
<div class="genreBoxes"><p>Rap</p><img id="genreImages" src="{% static 'images/rap.jpg' %}" alt="rap image"></div>
<div class="genreBoxes"><p>Rock</p><img id="genreImages" src="{% static 'rock/rango.jpg' %}" alt="rock image"></div>
<div class="genreBoxes"><p>Country</p><img id="genreImages" src="{% static 'images/country.jpg' %}" alt="country image"></div>
<div class="genreBoxes"><p>Jazz</p><img id="genreImages" src="{% static 'images/jazz.jpg' %}" alt="jazz image"></div>

{% endblock %}
